---
import Layout from '../layouts/root.astro';
import Main from '../layouts/main.astro';
import Intro from '../components/intro.astro';
import DetailedProject from '../components/detailed-project.astro';

import config from "config";
---

<Layout title="Welcome to Astro.">
  <Main>
    <div class="flex-col flex gap-10">
      <Intro title="Projects" description='Open-source projects available at github.com.' />

      <div class="columns-xs gap-4">
        {config.repos.map(repo => (
          <div class="w-full pb-4">
            <DetailedProject id={repo.name} {...repo} />
          </div>
        ))}
      </div>
    </div>
  </Main>
</Layout>