---
import Layout from '../layouts/root.astro'
import Main from '../layouts/main.astro'
---

<Layout title="Welcome to Astro.">
  <Main>
        <div class="flex-col flex gap-10">
        </div>
    </Main>
</Layout>
