---
import { Image } from 'astro:assets';
import Icon from "../assets/icon.png";

interface Props {
  title?: string,
  description?: string,
}

const { title, description } = Astro.props;
---

<div>
  <Image src={Icon} alt="Icon" height={72} class="rounded-full mb-10" />

  {title && (
    <h2>
      {title}
    </h2>
  )}

  {description && (
    <p class="text-lg mt-6 leading-8 max-w-2xl opacity-75">
      {description}
    </p>
  )}
</div>
