---
import {Icon} from "astro-icon"

interface Props {
    author: string
    name: string
    id: string
}

const {author, id, name} = Astro.props;
---

<div>
    <div transition:animate="initial" transition:name={id} class="bg-gray-200 dark:bg-neutral-900 cursor-pointer rounded-xl p-[2px] overflow-hidden ease-out group transition-colors duration-[.3s] hover:bg-gradient-to-br hover:from-primary-500 hover:to-accent-500 min-w-[300px]">
        <div class="justify-between transition-colors duration-[.35s] flex ease-out rounded-[10px] bg-white dark:bg-black py-3 px-4 group-hover:dark:bg-black/75">
            <div>
                <p class="opacity-70 mb-1 font-semibold">
                    {author}
                </p>
                <span class="font-semibold text-lg">{name}</span>
            </div>
            <div class="items-center flex">
                <Icon pack="radix" name="chevron-right" class="h-8" />
            </div>
        </div>
    </div>
</div>